<table>
    <tbody>
        <tr>
            <td>
                <span>{{ courseName }}</span>
            </td>
            <td>
                <strong>{{ courseName }}</strong>
            </td>
            <td>
                <strong>{{ cityName }}</strong>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" [value]="courseName" name="numberTest" id="numberTest">
            </td>
            <td>
                <p [class]="className">This is Para</p>
            </td>
            <td>
                <input [type]="inputType">
            </td>
        </tr>
    </tbody>
</table>